# Terraform stuff
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.plan
nmm.plan
variables.tf
test-lambda
custom-authorizer
*.zip

# excluded
!api_gateway/*

# Dependencies
node_modules*

#Test folders
apollo-sequelize-terra-test